@import "https://unpkg.com/open-props@1.5.3";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  border-bottom: var(--border-size-1) solid var(--gray-4);
  background-color: var(--gray-1);
}

nav h1 {
  margin: var(--size-4);
}

main {
  padding: var(--size-3);
}

h1 {
  font-size: var(--font-size-6);
}

input, button {
  height: var(--font-size-6);
  padding: var(--size-2);
  background-color: var(--gray-1);
  border: var(--border-size-1) solid var(--gray-6);
  border-radius: var(--radius-2);
}
button:hover {
  background-color: var(--gray-2);
}
button:active {
  background-color: var(--gray-3);
}
button {
  padding: var(--size-2) var(--size-6);
}

.search {
  display: flex;
  align-items: center;
  gap: var(--size-4);
}
.search input {
  flex: 1;
}

.message-row {
  display: flex;
  overflow: hidden;
  padding: var(--size-1);
}

a {
  color: inherit;
  text-decoration: none;
}

a.message-row {
  border-radius: var(--radius-2);
}
a:hover.message-row {
  background-color: var(--blue-1);
}
a:active.message-row {
  background-color: var(--blue-2);
}

.message-row > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message-row :nth-child(1) {
  flex: 1;
}
.message-row :nth-child(2) {
  flex: 1;
}
.message-row :nth-child(3) {
  width: 10rem;
}

.header {
  margin-bottom: var(--size-2);
  padding-bottom: var(--size-1);
  border-bottom: var(--border-size-1) solid black;
}

.messages .header {
  font-weight: var(--font-weight-7);
}

.message .header {
  font-size: var(--font-size-0);
  display: flex;
  justify-content: space-between;
}
.message .header .sender {
  font-weight: bold;
}
.message .header .date {
  color: var(--gray-6);
}

.login {
  width: 100%;
  margin: var(--size-8) auto;
  display: flex;
  justify-content: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-6) ;
  padding: var(--size-8);
  background-color: var(--blue-4);
  border-radius: var(--border-size-4);
  width: var(--size-content-2);
  box-shadow: var(--shadow-3);
}

.login h2 {
  font-size: var(--font-size-6);
  color: white;
  text-align: center;
  margin-top: 0;
}
.login input {
  width: 100%;
}
.login button {
  padding: var(--size-2) var(--size-8);
}
