@import "https://unpkg.com/open-props@1.5.3";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  border-bottom: var(--border-size-1) solid var(--gray-4);
  background-color: var(--gray-1);
}

nav h1 {
  margin: var(--size-4);
}

main {
  padding: var(--size-3);
}

h1 {
  font-size: var(--font-size-6);
}

.message-row {
  display: flex;
  overflow: hidden;
  text-decoration: none;
  padding: var(--size-1);
}

a {
  color: inherit;
  border-radius: var(--radius-2);
}
a:hover {
  background-color: var(--blue-1);
}
a:active {
  background-color: var(--blue-2);
}

.message-row > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message-row :nth-child(1) {
  flex: 1;
}
.message-row :nth-child(2) {
  flex: 2;
}
.message-row :nth-child(3) {
  width: 8rem;
}

.header {
  font-weight: var(--font-weight-7);
  margin-bottom: var(--size-2);
  padding-bottom: var(--size-1);
  border-bottom: var(--border-size-1) solid black;
}
